baseurl: /
highlighter: rouge
markdown: kramdown
permalink: date
maruku:
    use_tex:    false
    use_divs:   false
    png_engine: blahtex
    png_dir:    images/latex
    png_url:    /images/latex

plugins:
    - jekyll-sitemap

defaults:
    -
      scope:
          path: ""
      values:
          sitemap: false

# Excludes should be appended to the default
# https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml#L37-L55
exclude:
   - .sass-cache/
   - .jekyll-cache/
   - gemfiles/
   - Gemfile
   - Gemfile.lock
   - node_modules/
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
   - CNAME
   - CONTRIBUTING.md
   - LICENSE
   - README.md
   - pages/example.md

future: true
