---
layout: default
description: "PHP 之道，收集 PHP 最佳实践、编码规范和权威学习指南，方便 PHP 开发者阅读和查找"
sitemap: true
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Back to Top](#top){:.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.anchor }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
