body{
    background: #EEE;
    padding: 40px;
    color: #333;
    font-family: "Droid Serif";
    font-size: 22px;
    line-height: 30px;
}
.site-header{
    text-align: center;
}
.site-title{
    margin: 0;
    font-family: 'Alfa Slab One';
    font-size: 100px;
    line-height: 100px;
    font-weight: normal;
}
.site-title a{
    text-decoration: none;
}
.site-slogan{
    font-family: 'Droid Serif';
    font-weight: normal;
}
.toc{
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
    font-size: 20px;
}
.top{
    background: #333;
    display: inline-block;
    padding: 0 8px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
}
.site-footer{
    font-size: 14px;
    text-align: center;
}
h1{
    border-bottom: 1px dotted #CCC;
    padding: 30px 0 0 0;
    color: #000;
    font-family: 'Droid Serif';
    font-size: 50px;
    font-weight: normal;
    line-height: 60px;
    letter-spacing: -1px;
}
h2, .site-slogan, h3, h4, p, pre, ul, pre{
    margin-bottom: 30px;
}
h2, .site-slogan{
    font-size: 30px;
    line-height: 60px;
}
h3{
    font-size: 22px;
    line-height: 60px;
}
a{
    color: #333;
}
pre{
    background: #DDD;
    border: 1px solid #CCC;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    font-size: 18px;
}
