<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}PHP: The Right Way</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="robots" content="index,follow,archive"/>
        <meta property="og:image" content="http://www.phptherightway.com/images/og-logo.png"/>
        <meta property="og:title" content="PHP: The Right Way"/>
        <meta property="og:description" content="An easy-to-read, quick reference for PHP best practices, accepted coding standards, and links to authoritative PHP tutorials around the Web"/>
        <meta property="og:url" content="http://www.phptherightway.com"/>
        <meta property="og:site_name" content="PHP: The Right Way"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/styles/all.css"/>
        <link rel="stylesheet" href="/styles/print.css" media="print, handheld"/>
        <link rel="stylesheet" href="/styles/syntax.css"/>
        <link rel="icon" href="/images/favicon.png" type="image/png"/>
        <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-362072-7']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <nav class="site-navigation">
            <div class="build-date">Last Updated: {{ site.time }}</div>
            <ul>
                <li><a href="/#site-header">Welcome</a>
                    <ul>
                        <li><a href="/#translations">Translations</a></li>
                        <li><a href="/#how_to_contribute">How to Contribute</a></li>
                        <li><a href="/#spread_the_word">Spread the Word!</a></li>
                    </ul>
                </li>
                {% assign lastIsChild = false %}
                {% for post in site.posts reversed %}
                    {% if post.isChild and lastIsChild != true %}<ul>{% endif %}
                    {% if lastIsChild and post.isChild != true %}</ul>{% endif %}
                    <li><a href="/#{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">{{ post.title }}</a>
                    {% assign lastIsChild = post.isChild %}
                {% endfor %}
                <li><a href="/#site-footer">Credits</a></li>
            </ul>
        </nav>
        <div class="site-content">

            <a class="fork-me" href="https://github.com/codeguy/php-the-right-way">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
            </a>

            <header class="site-header" id="site-header">
                <hgroup>
                    <h1 class="site-title"><a href="/">PHP</a></h1>
                    <h2 class="site-slogan">The Right Way.</h2>
                </hgroup>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.phptherightway.com/" data-size="large" data-hashtags="php">Tweet</a>
            </header>
            {{ content }}
            <div id="site-footer">
                <h1 id="site-footer_title">Credits</h1>
                <footer class="site-footer" id="site-footer">
                    <h2 class="epsilon">Created and maintained by</h2>
                    <ul>
                        <li><a href="http://twitter.com/codeguy">Josh Lockhart</a></li>
                    </ul>
                    <h2 class="epsilon">Project collaborators</h2>
                    <ul>
                        <li><a href="http://krisjordan.com/">Kris Jordan</a></li>
                        <li><a href="http://philsturgeon.co.uk/">Phil Sturgeon</a></li>
                    </ul>
                    <h2 class="epsilon">Project contributors</h2>
                    <div id="contributors">Loading&hellip;</div>
                    <h2 class="epsilon">Project sponsors</h2>
                    <ul class="mbd">
                        <li><a href="http://www.newmediacampaigns.com">New Media Campaigns</a></li>
                    </ul>
                    <p>
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">PHP: The Right Way</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.twitter.com/codeguy" property="cc:attributionName" rel="cc:attributionURL">Josh Lockhart</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.phptherightway.com" rel="dct:source">www.phptherightway.com</a>.
                    </p>
                </footer>
            </div>
        </div>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="/scripts/setup.js"></script>
    </body>
</html>
