<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}PHP: The Right Way</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="robots" content="index,follow,archive"/>
        <meta property="og:image" content="http://www.phptherightway.com/images/og-logo.png"/>
        <meta property="og:title" content="PHP: The Right Way"/>
        <meta property="og:description" content="An easy-to-read, quick reference for PHP best practices, accepted coding standards, and links to authoritative PHP tutorials around the Web"/>
        <meta property="og:url" content="http://www.phptherightway.com"/>
        <meta property="og:site_name" content="PHP: The Right Way"/>
        <meta property="og:type" content="website"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif"/>
        <link rel="stylesheet" href="/styles/all.css"/>
        <link rel="icon" href="/images/favicon.png" type="image/png"/>
        <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-362072-7']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <nav class="site-navigation">
            <div class="build-date">Last Updated: {{ site.time }}</div>
            <ul>
                <li><a href="#site-header">Welcome</a></li>
                <li><a href="#getting_started">Getting Started</a>
                    <ul>
                        <li><a href="#use_the_current_stable_version_54">Use the Current Stable Version (5.4)</a></li>
                        <li><a href="#builtin_web_server">Built-in Web Server</a></li>
                        <li><a href="#mac_setup">Mac Setup</a></li>
                        <li><a href="#windows_setup">Windows Setup</a></li>
                    </ul>
                </li>
                <li><a href="#code_style_guide">Code Style Guide</a></li>
                <li><a href="#language_highlights">Language Highlights</a>
                    <ul>
                        <li><a href="#programming_paradigms">Programming Paradigms</a></li>
                        <li><a href="#namespaces">Namespaces</a></li>
                        <li><a href="#standard_php_library">Standard PHP Library</a></li>
                        <li><a href="#command_line_interface">Command Line Interface</a></li>
                    </ul>
                </li>
                <li><a href="#dependency_management">Dependency Management</a>
                    <ul>
                        <li><a href="#composer_and_packagist">Composer and Packagist</a></li>
                        <li><a href="#pear">Pear</a></li>
                    </ul>
                </li>
                <li><a href="#databases_and_pdo">Databases and PDO</a></li>
                <li><a href="#security">Security</a>
                    <ul>
                        <li><a href="#web_application_security">Web Application Security</a></li>
                        <li><a href="#password_hashing_with_bcrypt">Password Hashing with Bcrypt</a></li>
                        <li><a href="#input_filtering_and_sanitizing">Input Filtering and Sanitizing</a></li>
                    </ul>
                </li>
                <li><a href="#testing">Testing</a></li>
                <li><a href="#libraries_and_frameworks">Libraries and Frameworks</a></li>
                <li><a href="#resources">Resources</a></li>
            </ul>
        </nav>
        <div class="site-content">
            <header class="site-header" id="site-header">
                <hgroup>
                    <h1 class="site-title"><a href="/">PHP</a></h1>
                    <h2 class="site-slogan">The Right Way.</h2>
                </hgroup>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.phptherightway.com/" data-size="large" data-hashtags="php">Tweet</a>
            </header>
            {{ content }}
            <footer class="site-footer">
                <p>Created and maintained by <a href="http://twitter.com/codeguy">Josh Lockhart</a></p>
                <small>Sponsored by <a href="http://www.newmediacampaigns.com">New Media Campaigns</a></small>
            </footer>
        </div>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>
