<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>PHP: The Right Way</title>
        <meta name="description" content="An easy-to-read, quick reference for PHP best practices, accepted coding standards, and links to authoritative PHP tutorials around the Web"/>
        <meta name="robots" content="index,follow,archive"/>
        <meta property="og:image" content="http://www.phptherightway.com/images/og-logo.png"/>
        <meta property="og:title" content="PHP: The Right Way"/>
        <meta property="og:description" content="An easy-to-read, quick reference for PHP best practices, accepted coding standards, and links to authoritative PHP tutorials around the Web"/>
        <meta property="og:url" content="http://www.phptherightway.com"/>
        <meta property="og:site_name" content="PHP: The Right Way"/>
        <meta property="og:type" content="website"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif"/>
        <link rel="stylesheet" href="/styles.css"/>
        <link rel="icon" href="/images/favicon.png" type="image/png"/>
        <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-362072-7']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </head>
    <body>
        <header class="site-header">
            <div class="site-title">PHP</div>
            <div class="site-slogan">(The Right Way)</div>
            <nav>
                <ul class="toc">
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#code_style_guide">Code Style Guide</a></li>
                    <li><a href="#namespaces">Namespaces</a></li>
                    <li><a href="#input_filtering">Input Filtering</a></li>
                    <li><a href="#databases_and_pdo">Databases and PDO</a></li>
                    <li><a href="#password_hashing_with_bcrypt">Password Hashing with Bcrypt</a></li>
                    <li><a href="#dependency_management">Dependency Management</a></li>
                    <li><a href="#web_application_security">Web Application Security</a></li>
                    <li><a href="#popular_frameworks">Popular Frameworks</a></li>
                    <li><a href="#links_and_resources">Links &amp; Resources</a></li>
                </ul>
            </nav>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.phptherightway.com/" data-size="large" data-hashtags="php">Tweet</a>
        </header>

        <div class="site-content">
            {{ content }}
        </div>

        <footer class="site-footer">
            <small>Created and maintained by <a href="http://twitter.com/codeguy">Josh Lockhart</a>. Favicon from <a href="http://pictos.cc/">Pictos</a>.</small>
        </footer>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </body>
</html>
