.site-header{
    position: relative;
    z-index: 1;
    text-align: center;
}
h1.site-title{
    .mbn;
    font-family: 'Alfa Slab One';
    font-size: @baseline * 4;
    font-weight: normal !important;
    line-height: @baseline * 5 !important;

    a{
        text-decoration: none;
    }
}
.site-slogan{
    font-weight: normal;
}
.fork-me, .fork-me img{
    position: absolute;
    top: 0;
    right: 0;
}
.fork-me{
    z-index: 2;
}
